<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Request Page</title>
<link rel="stylesheet" href="styles/style.css" />

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
 	 crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="scripts/request.js"> </script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
 integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>
</head>
<body>
<div class="form">
  <h1>Request Book</h1>
  <form action="" method="post">
  <div class ="input_row">
      <input type="text" placeholder="Name" id="name_id" />
      <span id="name_err"></span>
  </div>
  <div class="form">
  <select id="books">
  </select>
 </div>
 <div class="btn-group" id="form">
    <button type="button" class="btn btn-primary">+</button>
    <button type="button" class="btn btn-primary">-</button>
  </div>
  <div class ="input_row">
      <input type="text" placeholder="Quantity" id="quantity_id" />
      <span id="quantity_err"></span>
  </div>
  </form>
  <input type="button" value="Request" id="request" />
  </div>
  </body>
  </html>
